<div class="p-3 border rounded bg-light" id="<%= dom_id(comment) %>">
    <strong><%= comment.user.user_name%> <br></strong>
    <%= comment.content%>
    <%= time_tag comment.updated_at%>
    <% if policy(comment).destroy? %>
      <%= button_to "X", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
    <% end %>
    
</div>

