<div id="<%= dom_id post %>">
  <div>
    <strong> <%= post.title %></strong>
  </div>

   <div>
    <%= post.user&.user_name || "Unknown Author" %>
    <%= time_tag post.created_at%><br/>

    <div class="trix-content">
      <%= post.content %>
    </div>
  </div>
  </div>


</div>
